<%       title = medium['caption'].blank? ? 'N/A' : medium['caption']

		 if medium['url_essay'].blank? %>
           <div class="item"></div> <!-- END item -->
<%       else %>
           <div class="item">
<%         media_data = {
                hugesrc: "#{medium['url_huge']}?::#{medium['url_huge_width']}::#{medium['url_huge_height']}",
                largesrc: medium['url_huge'],
            	title: title,
				media_id: medium['id'],
          } %>
<%=          link_to image_tag(medium['url_essay'], height: 180, alt: title), "#{associated_medium_path(medium['id'])}", class: 'media-thumb', data: media_data  %>
		    </div> <!-- END item -->
<%       end %>