<% add_breadcrumb_item link_to(NoteTitle.model_name.human(:count => :many).s, collection_path)
   add_breadcrumb_item @object %>
<fieldset>
  <legend>
<%= NoteTitle.model_name.human.titleize.s %>
<%= edit_item_link @object %>
  </legend>
  <div class="row">
    <label><%= ts :title %></label>
    <span><%= def_if_blank(@object, :title) %></span>
  </div>
</fieldset>