<% add_breadcrumb_item link_to(NoteTitle.model_name.human(:count => :many).s, collection_path)
   add_breadcrumb_item object %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= NoteTitle.model_name.human.titleize.s %> <%= edit_item_link object %></h6> 
  </div>
  <div class="panel-body">
<fieldset>
  <div class="row">
    <label><%= ts :title %></label>
    <span><%= def_if_blank(object, :title) %></span>
  </div>
</fieldset>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
