<div class="dropdown">
<p>
<%= select_tag 'description[author_ids][]', options_for_select(@authors.collect{|a| [ a.fullname , a.id]}, selected.nil? ? nil : selected), include_blank: true, class: 'form-control form-select ss-select selectpicker' %>
<%= link_to ts(:remove), '#', onclick: "$(this).parents('.dropdown:first').remove()" %>
</p>
</div>