<div class="dropdown">
<%= select_tag 'note[author_ids][]', options_for_select(@authors.collect{|a| [ a.fullname , a.id] }, selected.nil? ? nil : selected) %>
<%= link_to ts('remove'), '#', onclick: "$(this).parents('.dropdown:first').remove()" %>
</div>