/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require kmaps_explorer/kmaps-explorer
 *= require kmaps_explorer/kmaps-explorer-block
 *= require_self
 */


/* fix rails search section */
.input-section {
  height: auto;
  padding: 1.3rem 0.5rem 0;
}
/* fix for Go button on advance search */
.extruder .input-section .input-group .input-group-btn {
  position: absolute;
  top: 1px;
}

/* set size for tabs in search flyout tabs */
.kmaps .view-section .nav-tabs>li {
  width: 35%;
}
