<% add_breadcrumb_item FeatureRelationType.model_name.human(:count => :many).s %>
<div>
  <div class="left"><%= resource_search_form %></div>
  <div class="right highlight">
<%= new_item_link [:feature_relation_type] %>
  </div>
</div>
<br class="clear"/>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= FeatureRelationType.model_name.human.pluralize.s %></h6>
  </div>
  <div class="panel-body">
<%= render :partial => 'list', :locals => { :list => @collection, :parent => parent_object } %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
