<ul>
	<li><h3>Main Menu</h3><a class="link-blocker"></a></li>
    <li><%= link_to 'Public site', root_path, {:hreflang => 'View places.'} %></li>
	<li>
		<a href="#">Preferences <span class="fa arrow"></span></a>
		<ul>
			<!-- header -->
			<li><h3>Preferences</h3></li>
			<ul>
			<li id="user-prefs"><a href="#">Site Language <span class="fa plus-times"></span></a>
				<h2>Site Language</h2>
				<ul>
<%=               render 'public/language_list' %>
				</ul>
			</li>
			</ul>
		</ul>
	</li>
   <li><%= login_status %></li>
</ul>