	<li class="drop-hdr"><em><%= ts("Language preferences")%></em></li>
<% current_language = I18n.locale
   language_metadata = LANGUAGES[current_language]
   languages = I18n.available_locales
   for language in languages
     language_metadata = LANGUAGES[language] %>
	 <li class='form-group'><label class='radio-inline'><%= radio_button :radio_language_pref, :preference, change_language_session_path(language), class: 'radio_language_pref', checked: current_language == language %><%= ts(language_metadata[:title], :locale => language)%></label></li>
<% end %>

<%=	javascript_on_load do %>
      jQuery('.radio_language_pref').click(function (){
        window.location = this.value;
      });
<%  end %>
