<% for perspective in @perspectives %>
     <li><%= link_to(perspective.name, change_perspective_session_path(perspective.id), style: perspective==current_perspective ? '' : 'font-weight: normal;') %></li>
<% end %>