<% for perspective in @perspectives %>
     <li class="form-group"><%= label_tag("optionperspective_#{perspective.code}", radio_button(:session, :perspective_id, perspective.id, class: 'optionperspective') + perspective.name, class: 'radio-inline') %></li>
<% end %>