<% for view in @views %>
     <li class="form-group"><%= label_tag("optionview_#{view.code}", radio_button(:session, :view_id, view.id, class: 'optionview') + view.name, class: 'radio-inline') %></li>
<% end %>