<li><h3><%= View.model_name.human.titleize.s %></h3></li>
<% for view in @views %>
     <li><%= link_to(view.name, change_view_session_path(view.id), style: view==current_view ? '' : 'font-weight: normal;') %></li>
<% end %>